@font-face {
	font-family: MullerExtraBoldDEMO;
	src: url("fonts/Muller-ExtraBold-DEMO.ttf");
}

@font-face {
	font-family: MullerThinDEMO;
	src: url("fonts/Muller-Thin-DEMO.ttf");
}

.Text {

	&-navText {

		&--navTextModifier {
			font-family: MullerExtraBoldDEMO;
			font-size: 15px;
			display: inline-block;
			line-height: 1;
			text-decoration:none;
			cursor: pointer;
			position:relative;
		}

		&--navTextModifier:after {
			display: block;
			content: "";
			height: 2px;
			width: 0%;
			left: 50%;
			position: absolute;
			-webkit-transition: width .3s ease-in-out;
			-moz--transition: width .3s ease-in-out;
			transition: width .3s ease-in-out;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			transform: translateX(-50%);
		}

		&--navTextModifier:nth-child(-n+2):after {
			background-color: #b8a47e;
		}

		&--navTextModifier:nth-child(n+3):after {
			background-color: #ffffff;
		}

		&--navTextModifier:hover:after,
		&--navTextModifier:focus:after {
			width: 100%;
		}

		&--navTextModifier:nth-child(-n+2) {
			color: #000000;
		}

		&--navTextModifier:nth-child(n+3) {
			color: #ffffff;
		}
	}

	&-sliderText {

		&--numberText {
			color: #f2f2f2;
			font-size: 12px;
			padding: 8px 12px;
			position: absolute;
			top: 0;
		}

		&--imgText {
			color: #f2f2f2;
			font-size: 15px;
			padding: 8px 12px;
			position: absolute;
			bottom: 8px;
			width: 100%;
			text-align: center;
		}
	}
}


@media only screen and (max-width: 300px) {
	.Text {

		&-sliderText {

			&--imgText {
				font-size: 11px;
			}
		}
	}
}